
body{
background-image: url('https://bit.ly/2TiSEJH');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
#profile-wrapper{
	text-align: center;
}

.profile-image{
	width:150px;
	height: 150px;
	border-radius: 55%;
	margin-left: auto;
    margin-right: auto;
}




.social-links ul, li{
	list-style-type:none;
	display: inline-block;
}

.landing,.header{
background-color:bisque;	
}
hr.star-light {
    max-width: 15rem;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid .25rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}